.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: grey;
  border: 1px solid black;
}

.profileCard {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 16px;
  width: 275px;
  overflow: hidden;
  border-radius: 5%;
  border: 2px solid black;
  margin: 10px auto;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.userName {
  font-weight: 700;
  font-size: 24px;
}

.nickName,
.location {
  color: grey;
}

.stats {
  display: flex;
  border-top: 2px solid grey;
  width: 100%;
  height: 60px;
  background-color: lightgrey;
  li {
    flex-basis: calc(100% / 3);
    align-content: center;
    text-align: center;
  }
  li:not(:last-child) {
    border-right: 2px solid grey;
  }
}

span {
  display: block;
}
.statValues {
  font-weight: 700;
}
